<h3>Please sign in<h3>

<div class="sign">
  <form method="post" action="/sessions">
  	Email: <input id="sign-form" type="text" name='email'>
  	Password: <input id="sign-form" type="password" name="password">
  	<input id="sign-button" type="submit" value="Sign in">
  </form>
</div>
