<h1>Welcome to Chitter</h1>

Latest Peeps: 

<ul>
	<% @peeps.each do |peeps| %>
		<li><%= peeps.peep %></li>
	<% end %>
</ul>	

<div id="new-peep">
	<form action="/peeps" method="post">
		<input type="text" name="peep">
		<input type="submit" value="add peep">
	</form>
</div>