body {
  font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
  background-color: #B0FDF5;
}

a.button {
  display: inline-block;
  border: 2px solid white;
  text-decoration: none;
  padding: 0px 4px 0px 0px;
  text-align: center;
  color: #B0FDF5;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 10px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
  font-family: 'Pacifico', cursive;
}

header {
  height: 40px;
  background-color: #000066;
  color: #B0FDF5;
  display: flex;
  padding: 0 20px;
}

header > * {
  margin: auto 0;
}

header #logo {
  display: flex;
  font-family: 'Pacifico', cursive;
}

header #user-peeps {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

