body {
  font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
  background-color: #EDFFFD;
  color: #000066;
}

h2 {
padding: 20px 0px 20px 0px;
margin: 0px 50px 0px
}

header {
  height: 40px;
  background-color: #000066;
  color: #B0FDF5;
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}

header > * {
  margin: auto 0;
}

header #logo {
  display: flex;
  font-family: 'Pacifico', cursive;
}

header a {
  color: #B0FDF5;
  text-decoration: none;
}

header #user-peeps {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

a.button {
  display: inline-block;
  border: 2px solid white;
  text-decoration: none;
  padding: 0px 4px 0px 0px;
  text-align: center;
  color: #B0FDF5;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 10px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
  font-family: 'Pacifico', cursive;
}

#welcome-message {
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-top: 4px;

 } 

#sign-out {
  display: inline-block;
  float: right;
  margin-right: -225px;
  background-color: #B0FDF5;
  color: #000066;
  border: 0px solid #000066;
  text-decoration: none;
  padding: 0px 20px 4px 20px;
  text-align: center;
  border-radius: 4px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
  font-family: 'Pacifico', cursive;
  font-size: 15px;
}

#peeps {
  margin: 15px 0px 0px 0px;
  margin: 25px;
  text-align: center;
}

#peep-here {
  display: inline-block;
  border: 2px solid white;
  text-decoration: none;
  padding: 8px 50px 8px 0px;  
  border-radius: 4px;
  border: 2px solid #000066;
  margin-left: 15px;
  margin-right: 10px;
}

#button-highlighted {
  display: inline-block;
  background-color: #B0FDF5;
  color: #000066;
  border: 2px solid #000066;
  text-decoration: none;
  padding: 0px 20px 4px 20px;
  text-align: center;
  border-radius: 4px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
  font-family: 'Pacifico', cursive;
  font-size: 15px;
}

div.peeps-container {
  margin-top: 0px;
}

.peeps-container {
  background-color: #EDFFFD;
  border: 2px solid #000066;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 3px; 
}

.peeps{
  background-color: #000066;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #B0FDF5;
  height: 20px;
  padding: 10px;
  border-bottom: 1px solid  #B0FDF5;
}

.name {
  float: right;
  font-size: 15px;
  margin-top: 0px;
  color: white;
  font-family: 'Pacifico', cursive;
}
