<h3>Please sign up</h3>

<div class="sign">
  <form action="/users" method="post">
  	Email: <input id="sign-form" name="email" type="text" value="<%= @user.email %>">
  	Password: <input id="sign-form" name="password" type="password">
  	And Again: <input id="sign-form" name="password_confirmation" type="password"><br>
  	Username: <input id="sign-form" name="username" type="text">
  	Name: <input id="sign-form" name="name" type="text">
  	<input id="sign-button" type="submit" value="Sign up">
  </form>
</div>