
<div id="new-peep">
  <% if current_user %>
    <form action="/peeps" method="post">
      Peep here: <input id="peep-here" type="text" name="peep">
      <input id="button-highlighted" type="submit" value="add peep"> 
    </form>
  <% else %>
    <form method="get" action="/sessions/new">
<input type="submit" value="Sign In">
    </form> 
      <form method="get" action="/users/new">
      <input type="submit" value="Sign Up">
    </form> 
  <%end%>
</div>

<h2>Latest Peeps:</h2> 

<div class="peeps-container">
  <ul>
    <% @peeps.reverse.each do |peeps| %>
    <section class="peeps"
      <li class="peep"><%= peeps.peep %></li>
      <li class="name"><%= peeps.user.username %></li>
    </section>
    <% end %>
  </ul>
</div>  

