<body>
<div id="new-peep">
  <% if current_user %>
    <form id="peeps" action="/peeps" method="post">
      Peep here: <input id="peep-here" type="text" name="peep">
      <input id="button-highlighted" type="submit" value="add peep"> 
    </form>
  <%end%>
  <% else %>

<h2>Latest Peeps:</h2> 

<div class="peeps-container">
  <ul>
    <% @peeps.reverse.each do |peeps| %>
    <section class="peeps"
      <li class="peep"><%= peeps.peep %></li>
      <li class="name"><%= peeps.user.username %></li>
    </section>
    <% end %>
  </ul>
</div>
</div> 
</body>

<footer>
  <div id="makersacademy-logo">
    <a href="http://www.makersacademy.com/">
      <img src="http://www.makersacademy.com/images/logo.png">
    </a>
  </div>
  <div id="technologies">
    <p>
      I built this page at
      <a href="http://www.makersacademy.com">Makers Academy,
      a highly selective 12 week coding course in London</a>.
    </p>
    <p>
      This website is built using Ruby, Sinatra,
      RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>