<h2>Latest Peeps:</h2> 

<div class="peeps-container">
  <ul>
    <% @peeps.reverse.each do |peeps| %>
    <section class="peeps"
      <li class="peep"><%= peeps.peep %></li>
      <li class="name"><%= peeps.user.username %></li>
    </section>
    <% end %>
  </ul>
</div>  

